.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 90px;
    padding: 10px 20px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 10px;
}

.dropdown-content {
    display: none;
    position: relative;
    background-color: #8D9092;
    font-size: 8px;
    max-width: 100px;
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
    text-align: center;
    border: 5px solid white;
    border-radius: 5px;
    background-color: #8D9092;
}

.dropbtn:hover {
    transform: scale(1.1);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    border: 5px solid black;
    border-radius: 5px;
    transform: scale(1.1);
    color: black;
}

.dropdown-content a.active {
    border: 5px solid black;
    color: black;
    font-weight: bolder;
}