#contact-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 8px;
}

#contact-info a {
    margin: 5px 10px;
}

#contact-info a:hover {
    scale: 1.1;
}

#text-footer {
    font-size: 15px;
    font-weight: bold;
}

#text-footer p {
    padding: 15px 10px;
    margin-bottom: 0;
}

#text-footer #contact-text {
    font-size: 30px;
}