#header {
    padding: 25px;
    min-width: 375px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#jc:hover {
    animation: rotate 3s linear infinite;
}

@media screen and (max-width: 768px) {
    #header {
        padding: 10px;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: end;
    }


}