#header {
    padding: 25px;
    min-width: 375px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#jc:hover {
    animation: rotate 3s linear infinite;
}