ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

li {
    margin: 0;
    padding: 10px;
}

li a {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 5px;
    border: 5px solid #fff;
    border-radius: 5px;
    width: 120px;
    font-size: normal;
}

li a:hover {
    border: 5px solid black;
    cursor: pointer;
    color: black;
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.active {
    font-weight: bolder;
    font-size: larger;
    background-color: #fff;
    border: 5px solid;
    border-color: black;
    color: black;
    border-radius: 5px;
    box-shadow: 5px 5px 5px white;
}