ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

li {
    margin: 0;
    padding: 10px;
}

li a {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: black;
    padding: 5px;
    border: 5px solid #fff;
    border-radius: 5px;
    width: 120px;
    font-size: large;
}


.active {
    font-weight: bolder;
    font-size: larger;
    background-color: #fff;
    border: 5px solid;
    border-color: black;
    border-radius: 5px;
    box-shadow: 5px 5px 5px white;
}



@media screen and (max-width: 992px) {
    ul {
        padding: none;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: start;
    }

    li a {
        font-size: small;
    }

}