:root {
    --blue1: #B5CCFF;
    --blue2: #80A8FF;
    --blue3: #5C8FFF;
    --blue4: #2167FF;
    --blue5: #0051FF;
}

#title {
    padding-top: 50px;
    color: #87CEEB;
}

#title:hover {
    font-weight: bold;
    transform: scale(1.1);
    animation: shake 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

#links a {
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.8s ease;
}

#links a:hover {
    transform: scale(1.1);
}

@keyframes shake {

    /* % indicate the stage of the animation movement,I set 11 different stages in this case, 
    scale is the new size of the content, translate indecate the move along the axies*/
    0% {
        transform: scale(1.15) translate(1px, 2px) rotate(0deg);
        color: var(--blue1);
    }

    10% {
        transform: scale(1.15) translate(-1px, -1px) rotate(-1deg);
        color: var(--blue1);
    }

    20% {
        transform: scale(1.15) translate(-3px, 0px) rotate(1deg);
        color: var(--blue2);
    }

    30% {
        transform: scale(1.15) translate(3px, 1px) rotate(0deg);
        color: var(--blue2);
    }

    40% {
        transform: scale(1.15) translate(1px, -2px) rotate(1deg);
        color: var(--blue3);
    }

    50% {
        transform: scale(1.15) translate(-1px, 1px) rotate(-1deg);
        color: var(--blue3);
    }

    60% {
        transform: scale(1.15) translate(-3px, -2px) rotate(0deg);
        color: var(--blue4);
    }

    70% {
        transform: scale(1.15) translate(3px, 1px) rotate(-1deg);
        color: var(--blue4);
    }

    80% {
        transform: scale(1.15) translate(-1px, -0px) rotate(1deg);
        color: var(--blue5);
    }

    90% {
        transform: scale(1.15) translate(1px, -1px) rotate(0deg);
        color: var(--blue5);
    }

    100% {
        transform: scale(1.15) translate(1px, 2px) rotate(-1deg);
        color: var(--blue5);
    }
}

@media screen and (max-width: 992px) {
    #links {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}